ALCHEMY_API_KEY=your-ghost-graph-api-key-here
SQD_INDEXER_API_KEY=your-ghost-graph-api-key-here

DB_NAME=your-ghost-graph-api-key-here
DB_PORT=your-ghost-graph-api-key-here
GQL_PORT=your-ghost-graph-api-key-here

# JSON-RPC node endpoints (wss or https)
# Use private endpoints in production! If deploying to Cloud:
# - use our RPC proxy service: https://docs.subsquid.io/cloud/resources/rpc-proxy/, OR
# - save your private url as a secret: https://docs.subsquid.io/cloud/resources/env-variables/#secrets
RPC_ETH_HTTP=your-ghost-graph-api-key-here

# Uncommenting this line enables the debug mode
# More info at https://docs.subsquid.io/basics/logging/
#SQD_DEBUG=your-ghost-graph-api-key-here

# WalletConnect Project ID
VITE_WALLETCONNECT_PROJECT_ID=your-ghost-graph-api-key-here

# Protocol Admin Client Contract Addresses (optional - will use broadcast files if not set)
# VITE_PROTOCOL_ADMIN_CLIENT_1301=your-ghost-graph-api-key-here
# VITE_PROTOCOL_ADMIN_CLIENT_31337=your-ghost-graph-api-key-here

ALCHEMY_API_KEY=your-ghost-graph-api-key-here
PRIVATE_KEY=your-ghost-graph-api-key-here
SQD_INDEXER_API_KEY=your-ghost-graph-api-key-here
UNICHAIN_TESTNET_RPC=your-ghost-graph-api-key-here
ETHERSCAN_API_KEY=your-ghost-graph-api-key-here


# Indexer RPC Endpoint (for Uni Testnet - chain 10143)
RPC_UNI_TESTNET_HTTP=https://your-rpc-endpoint-here
