# From feat/create-hook - hook-pkg submodules
[submodule "contracts/hook-pkg/lib/compose-extensions"]
	path = contracts/hook-pkg/lib/compose-extensions
	url = https://github.com/JMSBPP/compose-extensions
[submodule "contracts/hook-pkg/lib/Compose"]
	path = contracts/hook-pkg/lib/Compose
	url = https://github.com/Perfect-Abstractions/Compose
[submodule "contracts/hook-pkg/lib/openzeppelin-contracts"]
	path = contracts/hook-pkg/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/hook-pkg/lib/forge-std"]
	path = contracts/hook-pkg/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

# From ci/test-comprehensive-workflow - hook-master-pkg submodules
[submodule "contracts/hook-master-pkg/lib/forge-std"]
	path = contracts/hook-master-pkg/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
# ... (rest of hook-master-pkg submodules)